
.h3, h3 {
    font-size: 28px;
}

.left {
	margin-left: -10em;
	margin-top: 2em;
}

.top {
    margin-top: 4em;
    margin-left: -12em;
    margin-bottom: -22px;
}

body{
	background :#374760;
	color: white;
}

p{
 font-size: 12px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
     background-color: #205081 !important; 
}

.nav-space{
	    padding-right: 5em;
    	padding-left: 5em;
}
.padding-menu{
	padding-left: 20px;
    padding-right: 20px;
}

.dropdown-style-nav{
	background: #205081;
	color: white;
    overflow: hidden;
    color: #aeaeae;
    width: 15em;
    height: 3em;
    border-radius: 4px;
    border: 1px solid #0f2f50;
    text-align: center;
    margin-top: 5px;
    text-align: center;
}

.navbar-left {
	    margin-left: 0em;
}


.navbar-nav {
   /* margin: 7.5px -15px;*/
    padding-left: 3em;
}

.border-left {
	border-left: 1px solid #0c2d4f;
}

.border-left-white{
	border-left: 1px solid #fff;
}

.navbar-default {
    background-color: #205081;
    border-color: #205081;
    padding : 5px;
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5em;
}

.border-bottom{
	border-bottom: 1px solid #0d2140;
	margin-bottom: 10px;
}
.dropdown-style{
	background: #e2e7eb;
    overflow: hidden;
    color: #aeaeae;
    width: 21em;
    height: 2.5em;
    padding-top: 8px;
    border-radius: 4px;
}
.dropdown-toggle {
color: #595959;
}
.dropdown-content{
	background: #e3e8ec;
	color: #595959;
    width: 10.2em;
    height: 2.5em;
    padding-top: 7px;
    padding-right: 1em;
    padding-left : 1em;
    border-radius: 3px;
}
.btn-move{
	    margin-left: 78px;
}
.drop-size{
	width: 95px;
}

.tabs-style {
	background: #edf2f6;

}
.button-style {
	margin-top: 10px;
}
.button-content{
	background: #037dbc;
    width: 10.2em;
    height: 2.5em;
    padding-top: 7px;
    padding-right: 1em;
    padding-left : 1em;
    border-radius: 3px;

}

.white-font {
	color: white !important;
	text-decoration: none;
}
.white-font a {
	text-decoration: none;
}
 .black-font{
 	color: black !important;
 }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #081e2f;
    background-color: #edf2f6;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    color: #354664;
}

.table-margin{
	margin-right: 10px !important;
}

.btn-nav{
    color: fff;
    background-color: #39d51b;
    /* border-color: #ccc; */
}
.side-content{
	margin-top: -6em;
	margin-left: 20px;
	border-bottom: 1px solid #0d2140;
	width: 20em;
}
.content-style {
	border-bottom: 1px solid #0d2140;
	width: 20em;
}

.button-create-style{
    background-color: #fcfcfc;
    /* border-color: #ccc; */
    color: black;
    margin-top: 4px;
    width : 14em;
}

.button-create{
	margin-left : -4em;
}

.navbar-btn-create {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10em;
}
.form-style {
	width: 10em;
}

